<label for="">姓名(請填全名)：
  <input type="text" class="name">
</label>

<input type="radio" name="attend" id="attend">
<label for="attend">出席</label>
<input type="radio" name="NotAttend" id="NotAttend">
<label for="NotAttend">不出席</label>
<input type="radio" name="" id="gift">
<label for="gift">祝福你們!!會送禮但不克前往</label>

<input type="radio" name="taipei" id="taipei">
<label for="taipei">台北</label>
<input type="radio" name="chiayi" id="chiayi">
<label for="chiayi">嘉義</label>
<input type="radio" name="both" id="both">
<label for="both">兩場都會到!!</label>

<label for="">男方親友
  <input type="radio" name="" id="">
</label>
<label for="">女方親友
  <input type="radio" name="" id="">
</label>

<label for="nickname">暱稱：
  <input type="text" class="nickname">
</label>

<label for="phone">聯絡手機/電話：
  <input type="text" class="phone">
</label>

<label for="numPeople">出席人數：
  <select name="numPeople" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</label>

<label for="numVegetarian">其中有幾位吃素：
  <select name="numVegetarian" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</label>

<label for="address">喜帖地址：
  <input type="text" class="address">
</label>

<label for="">電子喜帖email：
  <input type="text" class="email">
</label>

<label for="">給我們的話：
  <input type="text" class="note">
</label>