/backend/web/bundles/
/backend/app/bootstrap.php.cache
/backend/app/cache
/backend/app/config/parameters.yml
/backend/app/logs
/backend/app/var
!backend/app/cache/.gitkeep
!backend/app/logs/.gitkeep
/backend/app/phpunit.xml
/backend/app/propel/migrations/
/backend/build/
/backend/vendor/
/backend/bin/
.idea/
*~
/backend/web/css/
/backend/web/js/
/backend/web/components/
/backend/seo/
/backend/doc/doc/
/backend/doc/backend/doc/