<div class="wedding-form">
  <form [formGroup]="weddingForm" (ngSubmit)="submitForm()">
    <!-- {{weddingForm.value | json }} -->
    <div class="required field-area">
      <label for="">姓名(請填全名)：</label>
      <input type="text" class="fullname" formControlName="name" (blur)="showNameBonus() ">
    </div>

    <div *ngIf="_hasMessage">{{_nameBonusMessage}}</div>

       <div class="required field-area">
      <label for="phone">聯絡手機/電話：</label>
      <input type="text" class="phone" formControlName="phone">
    </div>

    <!-- <div class="required field-area">
      <label>是否參加婚宴：</label>
      <span class="radio-group">
        <label><input type="radio" name="attendence" formControlName="attendence" value="attend">出席</label>
        <label><input type="radio" name="attendence" formControlName="attendence" value="no">無法出席</label>
        <label><input type="radio" name="attendence" formControlName="attendence" value="gift">會送禮但不克前往</label>
      </span>
    </div> -->

    <div class="required field-area">
      <label>是哪方的親友：</label>
      <span class="radio-group">
        <label><input type="radio" name="frends" formControlName="known_from" value="male">男方親友</label>
        <label><input type="radio" name="frends" formControlName="known_from" value="female">女方親友</label>
      </span>
    </div>

    <div class="required field-area">
      <label>出席狀態：</label>
      <span class="radio-group">
        <label><input type="radio" name="attendence" formControlName="attend" value="taipei">台北場(3/24)</label>
        <!-- TODO: 補上嘉義場日期 by Zoe -->
        <label><input type="radio" name="attendence" formControlName="attend" value="chaiyi">嘉義(未定)</label>
        <label><input type="radio" name="attendence" formControlName="attend" value="both">兩場都到</label>
        <label><input type="radio" name="attendence" formControlName="attend" value="no">無法出席</label>
        <label><input type="radio" name="attendence" formControlName="attend" value="gift">會送禮但不克前往</label>
      </span>
    </div>

    <div class="field-area">
      <label for="numPeople">出席人數： </label>
      <select name="numPeople" formControlName="number_of_people">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

    </div>

    <div class="field-area">
      <label for="numVegetarian">其中有幾位吃素：</label>
      <select name="numVegetarian"  formControlName="number_of_vegetarian">
        <option value="0">無</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="field-area">
      <label for="numBabyseat">兒童座椅數量：</label>
      <select name="numBabyseat"  formControlName="number_of_baby_seat">
        <option value="0">無</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="required field-area">
      <label>喜帖方式：</label>
      <span class="radio-group">
        <label><input type="radio" name="invitation" value="email" (click)="setInvitation('email')" checked>電子喜帖</label>
        <label><input type="radio" name="invitation" value="address" (click)="setInvitation('address')">紙本喜帖</label>
        <label><input type="radio" name="invitation" value="sendBoth" (click)="setInvitation('sendBoth')">兩種都要</label>
      </span>
    </div>

    <div class="field-area" *ngIf="isShow('address')">
      <label for="address">喜帖地址：</label>
      <input type="text" class="address" formControlName="address">
    </div>

    <div class="field-area" *ngIf="isShow('email')">
      <label for="">電子喜帖email：</label>
      <input type="text" class="email" formControlName="email">
    </div>

    <div class="field-area">
      <label for="">想跟毓柔和璟鴻說：</label>
      <input type="text" class="note" formControlName="note">
    </div>

  </form>

  <button class="main-btn" (click)="submitForm()">送出</button>
</div>
