DirectoryIndex index.html
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /

    RewriteCond %{HTTP_USER_AGENT} (bot|facebookexternalhit|crawler|spider|preview) [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ crawler.php [L]

    RewriteRule ^index\.html$ - [L,E=index_assets_push:1]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L,E=index_assets_push:1]

    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{SCRIPT_FILENAME}\.br -s
    RewriteRule ^(.*)\.(js|css|json)$ $1\.$2\.br [QSA,L]
    RewriteRule \.css\.br$ - [T=text/css,E=no-gzip:1,E=manualbr:1]
    RewriteRule \.json\.br$ - [T=application/json,E=no-gzip:1,E=manualbr:1]
    RewriteRule \.js\.br$ - [T=text/javascript,E=no-gzip:1,E=manualbr:1]

    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{SCRIPT_FILENAME}\.gz -s
    RewriteRule ^(.*)\.(js|css|json)$ $1\.$2\.gz [QSA,L]
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1,E=manualgzip:1]
    RewriteRule \.json\.gz$ - [T=application/json,E=no-gzip:1,E=manualgzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1,E=manualgzip:1]
</IfModule>

<filesMatch "index\.html$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>
    Header set Content-Encoding "br" env=manualbr
    Header set Content-Encoding "gzip" env=manualgzip
