/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$primary-color: palegreen;
$primary-color--active: rgb(97, 212, 97);
$primary-color--hover:rgb(97, 197, 97);
$text-background: white;
$grey-28: #ddd;

label {
  color: rgb(128, 128, 128);
  font-size: 14px;
  padding: 0.2rem;
  font-weight: 50%;
  width: 250px;
}

/* required star*/
.required >label::before {
  content: '*';
}

/* The container */

.container__checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: Helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Radio button */

.container__radio {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: Helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.container__radio input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark__radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: solid 1px black;
  border-radius: 50%;
}

.checkmark__radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.container__radio input[type=radio]:checked~.checkmark__radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.container__radio .checkmark__radio:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
}

/* Radio button end*/

.field-area {
    display: flex;
    padding: 5px 0px;
    font-size: 16px;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }

  .wedding-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width:767px){
    .field-area {
      font-size: 16px;
      justify-content: space-between;
    }

    label {
      width: 46%;
      min-width: 120px;
    }
    select, input:not([type=radio]):not([type=checkbox]) {
      width: 40%;
      min-width: 100px;
    }
    radio-group {
      width: 50%;
      label{
        width: 110px;
      }
    }
 }
