/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$primary-color: palegreen;
$primary-color--active: rgb(97, 212, 97);
$primary-color--hover:rgb(97, 197, 97);
$text-background: white;
$grey-28: #ddd;

label {
  color: rgb(128, 128, 128);
  font-size: 14px;
  padding: 0.2rem;
  font-weight: 50%;
  width: 250px;
}

/* required star*/
.required >label::before {
  content: '*';
}


/* Loading dropdown animation */
.loading-dropdown .select-wrapper .content{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    right: 45px;
    top: 0;
    width: 44px;
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(/assets/img/spinner.gif);
    height: 44px;
    z-index: 2;
  }
}

option {
  font-size: 14px;
  line-height: 36px;
  &:hover {
    background-color: red;
  }
}


/* Radio button */

.container__radio {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: Helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container__radio input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark__radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: solid 1px black;
  border-radius: 50%;
}

.checkmark__radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.container__radio input[type=radio]:checked~.checkmark__radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.container__radio .checkmark__radio:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
}

/* Radio button end*/

.field-area {
    display: flex;
    height: 50px;
    font-size: 16px;
    width: 600px;
    align-content: center;
    font-family: 'Diplomata SC', cursive;
  }

  .wedding-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-btn {
    cursor: pointer;
    color: white;
    width: 160px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.2rem;
    border: none;
    background: $primary-color;
    box-shadow: 2px 3px 1px rgb(230, 230, 230);
    &:hover {
        background: $primary-color--hover;
    }
    &:active {
        box-shadow: 2px 0px 5px rgb(66, 65, 65) inset;
        background: $primary-color--active;
    }
  }

  @media screen and (max-width:767px){
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2{
      margin-top: 100px;
    }

    .field-area {
      font-size: 16px;
      width: 85%;
    }

    label {
      width: 135px;
    }
 }
